<div class="listRoom">
    <ul>
        <li>
            <div class="roomDetail">
                <div class="roomDetail__logo">
                    <div class="logo__content"></div>
                    <div class="logo__img">
                        <img src="device.jpg" alt="">
                    </div>
                </div>
                <div class="roomDetail__content">
                    <p>Phong khach</p>
                </div>
            </div>
        </li>
        <li>
            <div class="roomDetail">
                <div class="roomDetail__logo">
                    <div class="logo__content"></div>
                    <div class="logo__img">
                        <img src="/Home/Image/device.jpg" alt="">
                    </div>
                </div>
                <div class="roomDetail__content">
                    <p>Phong khach</p>
                </div>
            </div>
        </li>
        <li>
            <div class="roomDetail">
                <div class="roomDetail__logo">
                    <div class="logo__content"></div>
                    <div class="logo__img">
                        <img src="/Home/Image/device.jpg" alt="">
                    </div>
                </div>
                <div class="roomDetail__content">
                    <p>Phong khach</p>
                </div>
            </div>
        </li>
        <li>
            <div class="roomDetail">
                <div class="roomDetail__logo">
                    <div class="logo__content"></div>
                    <div class="logo__img">
                        <img src="/Home/Image/device.jpg" alt="">
                    </div>
                </div>
                <div class="roomDetail__content">
                    <p>Phong khach</p>
                </div>
            </div>
        </li>
        <li>
            <div class="roomDetail">
                <div class="roomDetail__logo">
                    <div class="logo__content"></div>
                    <div class="logo__img">
                        <img src="/Home/Image/device.jpg" alt="">
                    </div>
                </div>
                <div class="roomDetail__content">
                    <p>Phong khach</p>
                </div>
            </div>
        </li>
        <li>
            <div class="roomDetail">
                <div class="roomDetail__logo">
                    <div class="logo__content"></div>
                    <div class="logo__img">
                        <img src="/Home/Image/device.jpg" alt="">
                    </div>
                </div>
                <div class="roomDetail__content">
                    <p>Phong khach</p>
                </div>
            </div>
        </li>
    </ul>
</div>