<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Equipment.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <div id="navbar">
        <div class="menu-button" onclick="toggleNav()"><i class="fa-solid fa-bars"></i></div>
        <div class="navigation">
            <div class="nav__header">
                <h3>Menu</h3>
            </div>
            <ul>
                <li><a href="#" class="activeNab">Equipment</a></li>
                <li><a href="/Room">Room</a></li>
            </ul>
        </div>
    </div>
    <div id="main-content">
        <div class="header">
            <div class="header__title">
                <h2>Equipment</h2>
            </div>
            <div class="header__nav">
                <p>Logout</p>
            </div>
        </div>
        <div id="container">
            <div class="container__content">
                <div class="dht">
                    <div class="dht__item">
                        <div class="img__dht">
                            <img src="/static/img/humiditi.png" alt="">
                        </div>
                        <div class="dht__content" id="humiditi">
                            <p>0</p>
                        </div>
                    </div>
                    <div class="dht__item">
                        <div class="img__dht">
                            <img src="/static/img/tempreture.png" alt="">
                        </div>
                        <div class="dht__content" id="temprature">
                            <p>0</p>
                        </div>
                    </div>
                </div>
                <div class="content__control">
                    <div class="controlDevice" id="controlDevice">
                        <div class="controlDevice__header">
                            <h3>Manual Control</h3>
                        </div>
                        <!-- <div class="controlDevice__deviceList">
                            <ul>
                                <li>
                                    <div class="deviceDetail">
                                        <div class="deviceLabel">
                                            <p><i class="fa-solid fa-tv"></i> tivi</p>
                                        </div>
                                        <div class="deviceContent">
                                            <label class="toggle-switch">
                                                <input type="checkbox">
                                                <span class="toggle-slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="deviceDetail">
                                        <div class="deviceLabel">
                                            <p><i class="fa-solid fa-tv"></i> tivi</p>
                                        </div>
                                        <div class="deviceContent">
                                            <label class="toggle-switch">
                                                <input type="checkbox">
                                                <span class="toggle-slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="deviceDetail">
                                        <div class="deviceLabel">
                                            <p><i class="fa-solid fa-tv"></i> tivi</p>
                                        </div>
                                        <div class="deviceContent">
                                            <label class="toggle-switch">
                                                <input type="checkbox">
                                                <span class="toggle-slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="deviceDetail">
                                        <div class="deviceLabel">
                                            <p><i class="fa-solid fa-tv"></i> tivi</p>
                                        </div>
                                        <div class="deviceContent">
                                            <label class="toggle-switch">
                                                <input type="checkbox">
                                                <span class="toggle-slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="deviceDetail">
                                        <div class="deviceLabel">
                                            <p><i class="fa-solid fa-tv"></i> tivi</p>
                                        </div>
                                        <div class="deviceContent">
                                            <label class="toggle-switch">
                                                <input type="checkbox">
                                                <span class="toggle-slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="/static/js/Equipment.js"></script>
</body>
</html>