<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/room.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <div id="navbar">
        <div class="menu-button" onclick="toggleNav()"><i class="fa-solid fa-bars"></i></div>
        <div class="navigation">
            <div class="nav__header">
                <h3>Menu</h3>
            </div>
            <ul>
                <li><a href="#" class="activeNab">Equipment</a></li>
                <li><a href="#">Room</a></li>
                <li><a href="#">User</a></li>
            </ul>
        </div>
    </div>
    <div id="main-content">
        <div class="header">
            <div class="header__title">
                <h2>Equipment</h2>
            </div>
            <div class="header__nav">
                <p>Logout</p>
            </div>
        </div>
        <div id="container">
            <div class="container__content">
                <div class="dht">
                    <div class="dht__item">
                        <div class="img__dht">
                            <img src="Image/humiditi.png" alt="">
                        </div>
                        <div class="dht__content">
                            <p>9</p>
                        </div>
                    </div>
                    <div class="dht__item">
                        <div class="img__dht">
                            <img src="/Home/Image/tempreture.png" alt="">
                        </div>
                        <div class="dht__content">
                            <p>9</p>
                        </div>
                    </div>
                </div>
                <div class="content__control">
                    <div id="home">
                        <ul>
                            <li>
                                <div class = "homename">
                                    <span>Nhà 1</span>
                                </div>
                                <div class="listRoom">
                                    <ul>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class = "homename">
                                    <span>Nhà 2</span>
                                </div>
                                <div class="listRoom">
                                    <ul>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/Home/Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                       
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/Home/Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/Home/Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/Home/Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/Home/Image/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="static/js/room.js"></script>
</body>
</html>