<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home</title>
    <link rel="stylesheet" href="/static/css/room.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <div id="logger" onclick="unshow()">
        <div class="logger__content">
            <div class="loggercontent__body">
                <div class="loggerbody__ListImg">
                    <div class="loggerImg__micro" id="voiceFromMic">
                        <img src="/static/img/mic.png" alt="">
                    </div>
                    <div class="loggerImg__sound" >
                        <img src="/static/img/supersonic.png" alt="">
                    </div>
                </div>
                <div class="loggerbody__Text" id="textFromMic">
                    Hãy nói gì đó
                </div>
            </div>
        </div>
    </div>
    <div id="navbar">
        <div class="menu-button" onclick="toggleNav()"><i class="fa-solid fa-bars"></i></div>
        <div class="navigation">
            <div class="nav__header">
                <h3>Menu</h3>
            </div>
            <ul>
                <li><a href="" class="activeNab">Room</a></li>
                <li><a href="/Equipment">Equipment</a></li>
                
            </ul>
        </div>
    </div>
    <div id="main-content">
        <div class="header">
            <div class="header__title">
                <h2>Equipment</h2>
            </div>
            <div class="header__nav">
                <p>Logout</p>
            </div>
        </div>
        <div id="container">
            <div class="container__content">
                <div class="content__title">
                    <div class="title__mode">
                        <div class="mode__controll">
                            <input type="range" id="ModeStatus" name="ModeStatus" min="0" max="3" step="1" value="0" >                              
                        </div>
                        <div class="mode_voice" onclick="showvoice()">
                            <div class="voice__img" >
                                <img src="/static/img/mic.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="dht">
                        <div class="dht__item">
                            <div class="img__dht">
                                <img src="/static/img/humiditi.png" alt="">
                            </div>
                            <div class="dht__content" id="humiditi">
                                <p>0</p>
                            </div>
                        </div>
                        <div class="dht__item">
                            <div class="img__dht">
                                <img src="/static/img/tempreture.png" alt="">
                            </div>
                            <div class="dht__content" id="temprature">
                                <p>0</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__control">
                    <div id="home">
                        <!-- <ul>
                            <li>
                                <div class = "homename">
                                    <span>Nhà 1</span>
                                </div>
                                <div class="listRoom">
                                    <ul>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class = "homename">
                                    <span>Nhà 2</span>
                                </div>
                                <div class="listRoom">
                                    <ul>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                       
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="roomDetail">
                                                <div class="roomDetail__logo">
                                                    <div class="logo__content"></div>
                                                    <div class="logo__img">
                                                        <img src="/static/img/device.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="roomDetail__content">
                                                    <p>Phong khach</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <script src="static/js/room.js"></script>
</body>
</html>